.forestries__element {
    background-color: $yellow;
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.forestry__h3 {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 0;
    transition: 0.5s;
}

.forestry__img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}


.forestries__element:not(:focus) {
    *:not(.forestry__h3) {
        display: none;
    }
}

.forestries__element:focus {
    .forestry__h3 {
        background-color: $orange;
        border-radius: 5px;
    }
    .forestry__element-wrapper-p {
        animation: show 1s ease-in-out;
        animation-fill-mode:forwards;
    }
    .forestry__img {
        animation: show 1s ease;
        animation-fill-mode:forwards;
    }
}

.forestry__element-wrapper-p{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.forestry__element-wrapper {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding: 20px;
}