.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background: rgba($color: $black, $alpha: .6);
    top: 0px;
    animation: show 0.5s ease;
    animation-fill-mode: both;
}

.modal__wrapper {
    background: $black;
    border-radius: 5px;
    position: relative;
    padding-bottom: 20px;
}

.modal__h1 {
    padding: 30px 0;
}

.modal__info-wrapper {
    width: calc(100vw / 4);
}

.modal__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
}

.modal__slider {
    width: 364px;
    height: 234px;
}

.modal__h2 {
    padding: 30px;
}

.cross-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.modal__table {
    width: calc(100% - 60px);
    margin: auto;
}

.modal__table * {
    border: 1px $white solid;
    padding: 5px;
}

.carousel-item img{
    width: 350px;
    height: 220px;
    overflow: hidden;
}


@media screen and (max-width: $tablet-size) {
    .modal__info {
        padding: 0 10px;
        gap: 5px;
    }
    .modal__slider {
        width: 50%;
        height: auto;
    }

    .modal__h2 {
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .modal__info {
        flex-direction: column;
        padding: 0 10px;
        gap: 5px;
    }

    .modal__slider {
        width: 90%;
        height: 20%;
    }

    .modal__info-wrapper {
        width: 100%;
    }

    .modal__h2 {
        padding: 10px;
    }
}