.button {
    border-radius: 5px;
    background: $yellow;
    padding: 15px 30px;
    transition: 1s;
    border: none;
}

@media screen and (max-width: $tablet-size) {
    .button {
        padding: 12px 25px;
    }
}

@media screen and (max-width: $mobile-size) {
    .button {
        padding: 6px 12px;
    }
}

.button:hover {
    background: $orange;
    cursor: pointer;
}