.forestries__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 240px;
}

.forestries {
    background: $green-black;
    position: relative;
    z-index: 0;
    padding-bottom: 90px;
}

.forestries__h2 {
    padding: 90px 0;
}

